@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');

body{
  background-image: url('/public/images/fall.jpg');
  /* background-size: cover; */
  font-family: 'Baskervville SC', serif;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:antiquewhite;
} 

header{
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px;
}

.nav-link:hover {
  background-color: rgb(43, 42, 42);
  border-radius: 45%;
}

